body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}

.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}

.sidebar{
    background-color: black;
    width: 19.5rem;
    border-radius: 1rem;
    margin: 0.2rem;
}

.main-content {
    background: linear-gradient(#242424, #000000);
    flex: 1;
    border-radius: 0.5rem; /* 1rem = 16px */
    overflow: auto;
    margin: 0.2rem 0 0 0.3rem;
    scrollbar-color: #707070 black;
}

.music-player {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 90px;
}

.nav-option {
    line-height: 2.5rem;
    opacity: 0.7;
    transition: 0.1s;
    padding: 0.2rem;
}

.nav-option:hover {
    opacity: 1;
}

.nav-option i {
    font-size: 1.25rem;
    cursor: pointer;
    margin-left: 1rem;
}

a {
    text-decoration: none;
    color: white;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}

.nav {
    background-color: #121212;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 6rem;
    padding: 0.5rem 0.5rem;
}

.library {
    background-color: #121212;
    border-radius: 0.5rem;
    height: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem 0.5rem;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
}

.icons {
    font-size: 1.25rem;
    display: flex; 
}

.icons i {
    opacity: 0.7;
    margin-right: 1rem;
    cursor: pointer;
    transition: 0.1s;
}

.icons i:hover {
    opacity: 1;
}

.box {
    background-color: #242424;
    margin-top: 0.75rem;
    margin-bottom: 01.5rem;
    padding: 1rem 1.5rem;
    width: 15.5rem;
    height: 6.35rem;
    border-radius: 0.5rem;
}

.box-p1 {
    font-size: 0.86rem;
    font-weight: 600;
    cursor: default;
}

.box-p2 {
    font-size: 0.7rem;
    font-weight: 600;
    padding-top: 0.75rem;
    cursor: default;
}

.badge {
    background-color: white;
    color: black;
    font-weight: 700;
    height: 2.1rem;
    width: fit-content;
    border-radius: 1.75rem;
    padding: 0.25rem 1rem;
    border: none;
    margin-top: 1.3rem;
    cursor: pointer;
    transition: 0.1s;
}

.badge:hover {
    transform: scale(1.05);
    background-color: rgba(red, green, blue, 0.5);
}

.sticky-nav {
    position: sticky;
    top: 0;
    height: 8.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #242424;
}

.main-nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.nav-icons {
    margin-left: 1rem;
    margin-top: -1.2rem;
}

.nav-icons img {
    height: 1.2rem;
    width: 1.2rem;
    background-color: black;
    border-radius: 50%;
    padding: 0.4rem;
    margin-left: 0.2rem;
    opacity: 0.5;
    cursor: pointer;
}

#back-icon {
    padding-right: 0.5rem;
}

#forward_icon {
    padding-left: 0.5rem;
}

.badge1 {
    background-color: white;
    color: black;
    font-weight: 700;
    height: 2.1rem;
    width: fit-content;
    border-radius: 1.75rem;
    padding: 0.25rem 1rem;
    border: none;
    cursor: pointer;
    transition: 0.1s;
    margin-right: 0.5rem;
}

.badge1:hover {
    transform: scale(1.05);
    background-color: rgba(red, green, blue, 0.5);
}

.badge2 {
    background-color: black;
    color: white;
    font-weight: 700;
    height: 2.1rem;
    width: fit-content;
    border-radius: 1.75rem;
    padding: 0.25rem 1rem;
    border: none;
    cursor: pointer;
    transition: 0.1s;
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
}

.badge2:hover {
    transform: scale(1.05);
}

.badge2 i {
    padding-right: 0.35rem;
    font-size: 1rem;
}

.nav-badge {
    display: flex;
    align-items: center;
    margin-right: 1rem;
    padding: 0 0 1.5rem 1rem;
}

.fa-bell {
    height: 1rem;
    width: 1rem;
    background-color: black;
    border-radius: 50%;
    opacity: 0.6;
    cursor: pointer;
    padding: 0.6rem 0.5rem 0.5rem 0.7rem;
    transition: 0.1s;
    margin-right: 0.5rem;
}

.fa-bell:hover {
    transform: scale(1.05);
    opacity: 1;
}

.user {
    height: 1rem;
    width: 1rem;
    background-color: #19e68c;
    border: 4px solid black;
    border-radius: 50%;
    color: black;
    font-weight: bolder;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 0.3rem 0.2rem 0.3rem 0.55rem;
}

.user:hover {
    transform: scale(1.05);
}

.nav-badge-2 {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.badge3 {
    background-color: white;
    color: black;
    font-weight: 700;
    height: 2.1rem;
    width: fit-content;
    border-radius: 1.75rem;
    padding: 0.25rem 0.75rem;
    border: none;
    cursor: pointer;
    transition: 0.1s;
    margin-right: 0.5rem;
}

.badge4 {
    background-color: #303030;
    color: white;
    font-weight: 700;
    height: 2.1rem;
    width: fit-content;
    border-radius: 1.75rem;
    padding: 0.25rem 0.75rem;
    border: none;
    cursor: pointer;
    transition: 0.1s;
    margin-right: 0.5rem;
}

.badge4:hover {
    background-color: #353535;
}

@media (max-width: 1000px) {
    .hide {
        display: none;
    }
}

.playlist-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.playlist {
    display: flex;
    flex-direction: column;
    margin-top: 1.75rem;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.5rem;
    margin: 0 1rem;
}

.heading h3 {
    cursor: pointer;
}

.heading h3:hover {
    text-decoration: underline;
}

.heading a {
    color: #b3b3b3;
    font-size: small;
    font-weight: bold;
}

.heading a:hover {
    text-decoration: underline;
}

.card-section {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

.cards {
    display: flex;
    flex-direction: column;
    height: 15.2rem;
    width: 10.3rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
    cursor: pointer;
}

.cards:hover {
    background-color: #202020;
}

.cards:hover i {
    opacity: 1;
    margin-top: 6.8rem;
}

.cards img {
    width: 100%;
    border-radius: 0.5rem;
}

.play i {
    color: black;
    background-color: #18d080;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    font-size: 1.1rem;
    box-shadow: 0 4px 8px #121212;
    opacity: 0;
    transition: 0.4s;
    padding: 0.9rem 0.4rem 0.5rem 1.1rem;
    margin: 7.2rem 0 0 -3.6rem;
}

.play {
    display: flex;
}

.cards i:hover {
    transform: scale(1.05);
    background-color: #19e68c;
    opacity: 1;
}

.subtitle h5 {
    cursor: pointer;
    margin-top: .7rem;
    margin-left: 0.2rem;
    
}

.text {
    width: 10rem;
    color: #b3b3b3;
    font-size: 0.75rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: -0.75rem;
    margin-left: 0.2rem;
    line-height: 1.2rem;
}

.footer {
    height: 72px;
}

.legbar {
    display: flex;
    flex-direction: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 1.5rem;
    margin-top: 7rem;
}

.company {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    line-height: 2rem;
}

.com-bold {
    font-size: 0.9rem;
    font-weight: bold;
    cursor: default;
}

.jobs {
    color: #b3b3b3;
    font-size: 0.85rem;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.2s;
}

.jobs:hover {
    color: white;
    text-decoration: underline;
}

.company-social {
    display: flex;
}

.company-social i {
    margin: 0 1rem;
    background-color: #292929;
    height: 1.75rem;
    width: 1.75rem;
    padding: 0.8rem 0 0 0.8rem;
    border-radius: 50%;
    cursor: pointer;
}

.company-social i:hover {
    background-color: #707070;
}

.linebreak {
    margin: 0 1.5rem;
    margin-top: 1.5rem;
}

.linebreak hr {
    height: 0.005rem;
    background: #292929;
    border: none;
}

.legal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 1.7rem;
    margin-top: 2.5rem;
}

.policy {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.policy div {
    color: #b3b3b3;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s;
    margin-right: 1rem;
}

.policy div:hover {
    color: white;
}

.copyright {
    color: #b3b3b3;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: default;
    margin-right: 0.7rem;
}

@media (max-width: 1475px) {
    .hide6 {
        display: none;
    }
}

@media (max-width: 1275px) {
    .hide5 {
        display: none;
    }
}

@media (max-width: 1095px) {
    .hide4 {
        display: none;
    }
}

@media (max-width: 925px) {
    .card-section {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.left-music {
    display: flex;
    align-items: center;
    margin: 0.8rem 0;
}

.tera {
    padding: 1rem;
    margin-top: 0.2rem;
}

.tera img {
    height: 3.5rem;
    width: 100%;
    border-radius: 0.5rem;
}

.tera-text {
    display: flex;
    flex-direction: column;
    line-height: 1.2rem;
    margin-top: 0.25rem;
}

.tera-text1 {
    font-size: 0.8rem;
    font-weight: bolder;
    cursor: pointer;
    color: white;
    transition: 0.2s;
}

.tera-text1:hover {
    text-decoration: underline;
}

.tera-text2 {
    font-size: 0.6rem;
    font-weight: bold;
    cursor: pointer;
    color: #b3b3b3;
    transition: 0.2s;
}

.tera-text2:hover {
    color: white;
    text-decoration: underline;
}

.plus {
    margin-left: 1rem;
    margin-top: 0.5rem;
}

.plus img {
    opacity: 0.6;
    height: 1.2rem;
    width: 100%;
    cursor: pointer;
    transition: 0.2s;
}

.plus img:hover {
    opacity: 1;
}

.center-music {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.playback{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playback img {
    height: 1rem;
    width: 100%;
    margin-left: 1.75rem;
    opacity: 0.6;
    cursor: pointer;
    transition: 0.2s;
}

.playback img:hover {
    opacity: 1;
}

#playback-player {
    height: 2rem;
    opacity: 1;
    transition: 0.2s;
}

#playback-player:hover {
    transform: scale(1.06);
}

.right-music {
    display: flex;
    flex-direction: row;
    flex-wrap: initial;
    align-items: center;
    margin-right: 2rem;
}
.right-music img {
    height: 1.3rem;
    width: 100%;
    margin-left: 1rem;
    opacity: 0.6;
    cursor: pointer;
    transition: 0.2s;
}
.right-music input {
    margin-left: 0.3rem;
}

.right-music img:hover {
    opacity: 1;
}

.playbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playbar span {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    font-size: 0.8rem;
}

.timer {
    width: 25rem;
    appearance: none;
    background-color: #242424;
    height: 0.3rem;
    border-radius: 1rem;
}

.timer::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
}

.music-sound {
    width: 6rem;
    appearance: none;
    background-color: #242424;
    height: 0.3rem;
    border-radius: 1rem;
}

.music-sound::-webkit-slider-thumb {
    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
}